
Lab1/.idea/

Lab1/bin/

Lab1/obj/

Lab2/.idea/

Lab2/bin/

Lab2/obj/

Lab3/.idea/

Lab3/bin/

Lab3/obj/

Lab4/.idea/

Lab4/obj/

Lab4/bin/

*.user

Lab5/.idea/

Lab5/obj/

Lab5/bin/

Lab6/.idea/

Lab6/obj/

Lab6/bin/

Lab7/.idea/

Lab7/bin/

Lab7/obj/

Lab7/Output/

Lab8/.idea/

Lab8/obj/

Lab8/bin/
